body {
	margin: 0;
	background-color: #f3f6f4;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.general-comment {
	background-color: #e2e2e2;
}
.reply-comment {
	background-color: #ededed;
}
.mail {
	height: 18px;
	font-size: 11px;
}
.reply {
	cursor: pointer;
}
